.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.social {
  display: flex;
  gap: 0.94rem;
}

.iconInstagram,
.iconLinkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--color-accent);
  color: #ffffff;
}
